<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Tutti Frutti</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <!--    //////// -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="PerfilM.css">
</head>

<body>

    <header>

        <a href="#" class="logo" onclick="history.go(0)"><i class="fas fa-shopping-basket"></i>Mercados
            Regionais<span></span></a>

        <nav class="navbar">
            <a href="/home">Início</a>
            <a href="/home#categ">Categorias</a>
            <a href="/home#mercados">Mercados</a>
            <a href="/home#sobre">Sobre</a>
            <a href="#footer">Contato</a>
        </nav>

        <!--icons topo do site-->
        <div class="icons">
            <div class="fas fa-bars" id="menu-btn"></div>

            <a href="#" class="logo" onclick="history.go(0)">
                <div class="fas fa-shopping-cart" id="cart-btn"></div>
            </a>

            <a th:href="@{/perfil/{username}(username=${username})}">
                <div class="fas fa-user" id="login-btn"></div>
            </a>
        </div>

    </header><br><br><br><br>

    <!--TUTTI FRUTTI-->
    <section class="seccion-perfil-usuario">

        <div class="header-frutti">

            <form>
                <input class="btn-voltar" type="button" value="<" onclick="history.go(-1)">
                <!-- <input type="button" value="Atualizar" onclick="history.go(0)"> -->
            </form><br>

            <div class="perfil-usuario-pagina" id="frutti">
                <div class="perfil-usuario-avatar">
                    <img src="https://i.im.ge/2023/06/16/iNt6HD.papel-adhesivo-mate-sirio-sirio-color-azul-fedrigoni.th.jpg"
                        alt="img-avatar">
                </div>
            </div>
        </div><br>

        <div class="perfil-usuario-body">

            <div class="perfil-usuario-bio">
                <h3 class="titulo">Mercado</h3>
                <p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="perfil-usuario-footer">

                <ul class="lista-dados">
                    <li><i class="icon fas fa-map-signs"></i>Informações do comercio:xxx</li>
                    <li><i class="icon fas fa-phone-alt"></i> Telefone:xxx</li>
                    <li><i class="icon fas fa-building"></i> Especialidade:xxx</li>
                </ul>

                <ul class="lista-dados">
                    <li><i class="icon fas fa-map-marker-alt"></i> Endereço:xxx</li>
                    <li><i class="icon fas fa-calendar-alt"></i> Dias de funcionameto:xxx</li>
                    <li><i class="icon fas fa-share-alt"></i> Redes sociais:xxx</li>
                </ul>

            </div>
        </div>
    </section>

    <!-- PRODUTOS -->

    <section class="produtos" id="produtos">

        <h1 class="heading"><span>Alimentação</span></h1>

        <div class="swiper product-slider">

            <div class="swiper-wrapper">

                <div class="swiper-slide box">
                    <img src="https://i.im.ge/2023/05/21/hXwFQ9.Food-230-256.th.png" alt="">
                    <h3>Arroz</h3>
                    <div class="price">R$12.99
                        <span>/ Estoque: 2</span>
                    </div>
                    <input type="number" name="qty" required min="1" value="" max="99" maxlength="2" class="qty">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="Finalizar.html" class="btn">Comprar agora</a>
                    <a href="Carrinho_compras.html" class="btn">Adicionar ao Carrinho</a>
                </div>
                </div>
            </div>
        </div>
    </section><br><br><br><br>

    <!-- FOOTER -->

    <section class="footer" id="footer">

        <div class="box-container">

            <div class="box">
                <h3>Contatar<i class="fas fa-shopping-basket"></i></h3>
                <p>Caso queira entrar em contato para reportar algum erro, fazer perguntas ou mandar sujestões, sinta-se
                    atento para os seguintes metodos de contato:</p>
            </div>

            <div class="box">
                <h3>Informações de contato</h3>
                <a href="#" class="links"><i class="fas fa-phone"></i>(99) 99999-0000</a>
                <a href="#" class="links"><i class="fas fa-phone"></i>(88) 88888-0000</a>
                <a href="#" class="links"><i class="fas fa-envelope"></i>gestaomini@gmerc.com</a>
                <a href="#" class="links"><i class="fas fa-map-marker-alt"></i>São Paulo,
                    Brasil</a>
            </div>

            <div class="box">
                <h3>Links Rápidos</h3>
                <a href="/home#menu" class="links"><i class="fa-solid fa-share"></i>Início</a>
                <a href="/home#categ" class="links"><i class="fa-solid fa-share"></i>Categorias</a>
                <a href="/home#mercados" class="links"><i class="fa-solid fa-share"></i>Mercados</a>
                <a href="/home#sobre" class="links"><i class="fa-solid fa-share"></i>Sobre</a>
            </div>

        </div>
        <div class="creditos">Criado por<span> G. N. P. S.</span> / Desenvolvimento de TCC</div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="scriptM.js"></script>
</body>

</html>
<form th:action="@{/carrinho/add}" method="post">
                    <input type="hidden" th:name="quantidade" th:value="${produto.quantidade}"/>
                        <input type="hidden" th:name="id" th:value="${produto.id}"/>
                        <input type="hidden" th:name="preco" th:value="${produto.preco}"/>
                        <button type="submit">Comprar</button>
                    </form>