<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prototipo Mercados</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <!--    //////// -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="/css/Padrao.css">
    <link rel="stylesheet" href="/css/Merc.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!--    //////// -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

</head>

<body>


    <header>
        <a href="#" class="logo" onclick="history.go(0)"><i class="fas fa-shopping-basket"></i>Mercados Regionais<span>.</span></a>

        <nav class="navbar">
            <a href="#menu">Início</a>
            <a href="#categorias">Categorias</a>
            <a href="#mercados">Mercados</a>
            <a href="#sobre">Sobre</a>
            <a href="#footer">Contato</a>
        </nav>

        <!--icons topo do site-->
        <div class="icons">
            <div class="fas fa-bars" id="menu-btn"></div>

            <a href="Carrinho_compras.html">
                <div class="fas fa-shopping-cart" id="cart-btn"></div>
            </a>

            <a href="Perfil.html">
                <div class="fas fa-user" id="login-btn"></div>
            </a>

        </div>

    </header><br><br><br><br>
    
    <!--MENU -->

    <section class="menu" id="menu">
        <div class="content">
            <h3>Gestão de Minimercado!</h3>
            <span>Encontre os melhores mercados perto da sua casa!</span>
            <p></p>
            <a href="/login" class="btn">Entre agora</a>
        </div>
    </section>
    <br>

    <!-- CATEGORIAS -->

    <section class="categorias" id="categorias">

        <h1 class="heading">Diversas <span>Categorias</span></h1>

        <div class="box-container">

            <div class="box">
                <img src="https://i.im.ge/2023/05/21/hXwYty.Food-207-256.th.png" alt="">
                <h3>Mercearias</h3>
                <p>Produtos 45% off</p>
                <a href="Categorias/Mercearias.html" class="btn">Entre agora</a>
            </div>

            <div class="box">
                <img src=https://cdn0.iconfinder.com/data/icons/set-02-food-colors-doodle/91/Food_60-128.png alt="">
                <h3>Quitandas</h3>
                <p>Produtos 45% off</p>
                <a href="Categorias/Quitandas.html" class="btn">Entre agora</a>
            </div>

            <div class="box">
                <img src="https://i.im.ge/2023/05/21/hXwPRc.Food-145-512.th.png" alt="">
                <h3>Restaurantes</h3>
                <p>Produtos 45% off</p>
                <a href="Categorias/Restaurantes.html" class="btn">Entre agora</a>
            </div>

            <div class="box">
                <img src="https://i.im.ge/2023/05/21/hXwRWF.Food-108-512.th.png" alt="">
                <h3>Docerias</h3>
                <p>Produtos 45% off</p>
                <a href="Categorias/Docerias.html" class="btn">Entre agora</a>
            </div>

        </div>

    </section><br><br>

    <!-- MERCADOS -->

    <section class="mercados" id="mercados">

        <h1 class="heading">Conjunto de<span>Mercados!</span> </h1>

        <div class="box-container">

            <div class="box">
                <img src="https://i.im.ge/2023/05/21/hXi4WX.Food-190-512.th.png" alt="">
                <h3>Hugão</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>

                <a href="/mercado/m1" class="btn">Saiba mais</a>
            </div>

            <div class="box">
                <img src="https://i.im.ge/2023/05/21/hX07y0.Food-253-512.th.png" alt="">
                <h3>Açucarados</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>

                <a href="/mercado/m1" class="btn">Saiba mais</a>
            </div>

            <div class="box">
                <img src="https://i.im.ge/2023/05/21/hX06yz.Food-240-512.th.png" alt="">
                <h3>Atacadão</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>

                <a href="/mercado/m1" class="btn">Saiba mais</a>
            </div>

            <div class="box">
                <img src="https://i.im.ge/2023/05/21/hXwl9F.Food-256-256.th.png" alt="">
                <h3>Tutti Frutti</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>

                <a href="/mercado/m1" class="btn">Saiba mais</a>
            </div>

            <div class="box">
                <img src="https://i.im.ge/2023/05/21/hXi7u9.Travel-Doodle-Colors-07-256.th.png" alt="">
                <h3>Quitanda Deserto</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>

                <a href="/mercado/m1" class="btn">Saiba mais</a>
            </div>

            <!-- SÃO SÓ PRA EXEMPLIFICAR -->

            <div class="box">
                <img src="https://i.im.ge/2023/05/21/hXi7u9.Travel-Doodle-Colors-07-256.th.png" alt="">
                <h3>Quitanda Deserto</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>

                <a href="/mercado/m1" class="btn">Saiba mais</a>
            </div>

            <div class="box">
                <img src="https://i.im.ge/2023/05/21/hXi7u9.Travel-Doodle-Colors-07-256.th.png" alt="">
                <h3>Quitanda Deserto</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>

                <a href="/mercado/m1" class="btn">Saiba mais</a>
            </div>

            <div class="box">
                <img src="https://i.im.ge/2023/05/21/hXi7u9.Travel-Doodle-Colors-07-256.th.png" alt="">
                <h3>Quitanda Deserto</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>

                <a href="/mercado/m1" class="btn">Saiba mais</a>
            </div>

            <div class="box">
                <img src="https://i.im.ge/2023/05/21/hXi7u9.Travel-Doodle-Colors-07-256.th.png" alt="">
                <h3>Quitanda Deserto</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>

                <a href="/mercado/m1" class="btn">Saiba mais</a>
            </div>

            <div class="box">
                <img src="https://i.im.ge/2023/05/21/hXi7u9.Travel-Doodle-Colors-07-256.th.png" alt="">
                <h3>Quitanda Deserto</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>

                <a href="/mercado/m1" class="btn">Saiba mais</a>
            </div>
        </div>
        <a href="Todos_Mercados" class="btn"><span>Ver Mais</span></a>
    </section><br><br>

    <!--SOBRE -->

    <section class="sobre" id="sobre">
        <h1 class="heading"><span>Sobre</span> o site</h1>
        <div class="row">
            <div class="video-container">
                <!-- "http://techslides.com/demos/sample-videos/small.mp4" -->
                <video src="storeeee_1.mp4" type="video" loop autoplay muted></video>
                <h3> Melhores recomendações para você</h3>
            </div>

            <div class="content">
                <h3>Qual o melhor para você?</h3>
                <p>Esse site foi feito para ser uma vitrine para aqueles mercados e comercios informais que querem
                    abramger um maior publico, atravres das platformas onlime. Adaptado tambem para o mobile em forma de
                    aplicativo, separamo por caegortias e atributos aqules com caracteristicas parecidas, asim é m,ais
                    facil identificar seus diferencoas e filtarr os cliente realmente interresados</p>
                <p> Cada "mercado" tem seu proprio espaço de monstruario onde compartilha suas inbnformações e
                    produtos, parea que voce- o clienet- se informe e caso se interrese compre o que quiser. </p>
            </div>
    </section><br>

    <!-- FOOTER -->

    <section class="footer" id="footer">

        <div class="box-container">

            <div class="box">
                <h3>Contatar<i class="fas fa-shopping-basket"></i></h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique, amet.</p>
                <!-- <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div> -->
            </div>

            <div class="box">
                <h3>Informações de contato</h3>
                <a href="#" class="links"><i class="fas fa-phone"></i>(99) 99999-0000</a>
                <a href="#" class="links"><i class="fas fa-phone"></i>(88) 88888-0000</a>
                <a href="#" class="links"><i class="fas fa-envelope"></i>empresa@qualquer.com</a>
                <a href="#" class="links"><i class="fas fa-map-marker-alt"></i>São Paulo,
                    Brasil</a>
            </div>

            <div class="box">
                <h3>Links Rapidos</h3>
                <a href="#menu" class="links"><i class="fas fa-arow-right"></i>Início</a>
                <a href="#categorias" class="links"><i class="fas fa-arow-right"></i>Categorias</a>
                <a href="#mercados" class="links"><i class="fas fa-arow-right"></i>Mercados</a>
                <a href="#sobre" class="links"><i class="fas fa-arow-right"></i>Sobre</a>
                <!-- <a href="#" class="links"><i class="fas fa-arow-right"></i>blogs</a> -->
            </div>

            <!-- <div class="box">
                <h3>Boletim de Notícias</h3>
                <p>Enviar E-mail</p>
                <input type="email" placeholder="Digite seu email" class="email">
                <input type="submit" value="Enviar" class="btn">
                <img src="https://i.im.ge/2023/05/21/hXNHuD.UI-Elements-19-512.th.png" class="payment-img" alt="">
            </div> -->

        </div>
        <div class="creditos">Criado por<span> G. N. P. S.</span> | Desenvolvimento de TCC</div>
    </section>

    <script src="scriptMerc.js"></script>
</body>
</html>