/* Config Geral (Login, e Cadastros) */

*{
margin: 0;
padding:0;
box-sizing: border-box;
font-family:Arial, Helvetica, sans-serif;
color: white;
}

h3{
text-transform: uppercase;
letter-spacing: 2px;
}

.container{
display: flex;
letter-spacing: center;
align-items:center;
background: rgb(0, 146, 172) ;
min-height: 100vh;
align-self: center;
-webkit-box-align: center;
justify-content:center;
}

.card{
display: flex;
justify-content: center;
align-items: center;
min-height: 350px;
width: 300px;
flex-direction: column;
gap: 35px;
border-radius: 15px;
background: rgb(5, 132, 152) ;
box-shadow: 16px 16px 32px  #c8c8c8,
   -16px -16px 32px #fefeff;
}

.line{
width: 100px;
height: 3px;
background: #fff;
}

.inputBox, label{
position: relative;
width: 250px;
}

.inputBox input, label {
width: 100%;
padding: 10px;
outline: none;
border: none;
color: black;
font-size: 1em;
background: transparent;
border-left: 2px solid rgb(4, 79, 90);
border-bottom: 2px solid rgb(4,79,90);
transition: 0.1s;
}

/* 
.inputBox span{
margin-top: 5px;
position: absolute;
left: 0;
transform: translateY(-4px);
margin-left: 10px;
padding: 10px;
pointer-events: none;
font-size: 12px;
color: white;
text-transform: uppercase;
text-transform: 0.5;
letter-spacing: 3px;
}


.inputBox input:valid~span,
.inputBox input:focus~span{
transform: translateX(113px) translateY(-15px);
font-size: 0.8em;
padding: 5px 10px;
background: black;
letter-spacing: 0.2em;
color: #fff;
border:2px;
}

/* 
.inputBox input:valid~span,
.inputBox input:focus~span{
border:2px solid black;
}  */



 */

/* Botões ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */

button{
height: 45px;
width: 100px;
border-radius: 5px;
border: 2px solid black;
cursor: pointer;
background-color: transparent;
transition: 0.5s;
text-transform: uppercase;
font-size: 10px;
letter-spacing: 2px;
}


button:hover{
background-color: black;
color: aliceblue;
} 

/* 
body{
background-color: aqua;
} */




















/* Menu Tela inicial Css */


a {
   color: #fff;
   text-decoration: none;
   transition: 0.3s;
}

a :hover {
   opacity: 0.7;
}

.logo {
   font-size: 24px;
   text-transform: uppercase;
   letter-spacing: 4px;
}

nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-family: Arial, Helvetica, sans-serif;
   background: lightblue;
   height: 8vh;
}

main {
   background: url("azul_ceu.png") no-repeat center center;
   background-size: cover;
   height: 92vh;
}

.nav-list {
   list-style: none;
   display: flex;
}

.nav-list li {
   letter-spacing: 3px;
   margin-left: 32px;
}

.mobile-menu {
   display: none;
   cursor: pointer;
}

.mibile-menu div{
   width: 32px;
   height: 2px;
   background: #fff;
   margin: 8px;
}

.nav-list{
   position: absolute;
   top: 8vh;
   right: 0;
   width: 50vw;
   height: 92vh;
   background: rgb(0, 146, 172) ;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;

}

.nav-list li{
   margin-left: 0;
   opacity: 0;
}

.mobile-menu{
   display: block;
}

@media (max-width: 999px){
   body{
      overflow-x: hidden;
   }
}


.nav-list{
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background:rgb(0, 146, 172) ;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
}

.nav-list.active{
   transform: translateX(0);
}

@keyframes navLinkFade {
   from{
      opacity: 0;
      transform: translateX(50px);
   }

   to{
      opacity: 1;
      transform: translateX(0px);
   }
}

.mobile-menu.active .line1{
   transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2{

}

.mobile-menu.active .line3{
   transform: rotate(-45deg) translate(-5px, -7px); 
}