<h1>Carrinho de compras</h1>
    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>PreçoUni</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="itemcarrinho : ${itens}">
                <td th:text="${itemcarrinho.produto.nome}"></td>
                <td th:text="${itemcarrinho.produto.preco}"></td>
                <td th:text="${itemcarrinho.precoTotal}"></td>
                <td>
                <form method="post" action="/carrinho/att">
                <input style="width:30px" name="quantidade" th:value="${itemcarrinho.quantidade}">
                <input type="hidden" name="id" th:value="${itemcarrinho.produto.id}"/>
                <input type="hidden" name="idIt" th:value="${itemcarrinho.id2}"/>
                </form>
                </td>
                <td>
                <form method="post" action="/carrinho/remover">
                <input type="hidden" name="id" th:value="${itemcarrinho.produto.id}"/>
                <button type="submit">Remover</button>
                </form>
                </td>
            </tr>
        </tbody>
        <tfoot>
     <tr>
     <td colspan="2">Total</td>
     <td th:text="${#aggregates.sum(itens.![precoTotal])}"></td>
     </tr>
    </tfoot>
    </table>
    <form method="post" action="/carrinho/finish">
    <input type="hidden" name="sts" value="Finalizado"/>
    <input type="hidden" name="valor" th:value="${#aggregates.sum(itens.![precoTotal])}"/>
    <button type="submit">Finalizar Compra</button>
    </form>