<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho_Compras</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <!--    //////// -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!--    //////// -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="/css/Carrinho_compras.css">
    <link rel="stylesheet" type="text/css" href="/css/Padrao.css">
    <link rel="stylesheet" type="text/css" href="/css/Base.html">

</head>

<body>

    <header>

        <a href="#" class="logo"><i class="fas fa-shopping-basket"></i>Mercados Regionais<span>.</span></a>

        <nav class="navbar">
            <a href="/home">Início</a>
            <a href="/home#mercados">Mercados</a>
            <a href="#footer">Contato</a>
        </nav>

        <!--icons topo do site-->
        <div class="icons">
            <div class="fas fa-bars" id="menu-btn"></div>

            <a href="#" class="logo" onclick="history.go(0)">
                <div class="fas fa-shopping-cart" id="cart-btn"></div>
            </a>

            <a th:href="@{/perfil/{username}(username=${username})}">
                <div class="fas fa-user" id="login-btn"></div>
            </a>
        </div>

        <!--carrinho-->
        <div action="" class="shopping-cart">

            <div class="box">
                <h4>Você já esta no carrinho</h4>
            </div>

        </div>

    </header>

    <section class="produtos">

        <br><br><br><br><br>

        <h1 class="heading">Carrinho de <span>Compras</span></h1>

        <div class="box-container" th:each="itemcarrinho : ${itens}">

            <div class="box">

                <input type="hidden" value="">
                <img th:src="${itemcarrinho.produto.image}" class="image" alt="img">
                <h3 class="name" th:text="${itemcarrinho.produto.nome}">Café</h3>

                <div class="flex">
                    <p class="price" th:text="${itemcarrinho.produto.preco}"><i class="fa-solid fa-brazilian-real-sign"> 12,00</i></p>
                    <form method="post" action="/carrinho/att">
                    <input type="number" th:value="${itemcarrinho.quantidade}" name="quantidade" required class="qty">
                    <input type="hidden" name="id" th:value="${itemcarrinho.produto.id}"/>
                	<input type="hidden" name="idIt" th:value="${itemcarrinho.id2}"/>
                    <button type="submit" class="fas fa-edit"></button>
                	</form>
                    <!-- salva a mudança -->
                </div>

                <p class="sub-total">Soma total :<span th:text="${itemcarrinho.precoTotal}"> <i class="fa-solid fa-brazilian-real-sign"> 12,00</i></span></p>
                
                <form method="post" action="/carrinho/remover">
                <input type="hidden" name="id" th:value="${itemcarrinho.produto.id}"/>
                <button type="submit" class="btn-delete">Remover</button>
                </form>

            </div>
        </div>

        <div class="cart-total">
            <p>Total : <span th:text="${#aggregates.sum(itens.![precoTotal])}"><i class="fa-solid fa-brazilian-real-sign"> 12,00</i></span></p>

            <!--<form action="" method="POST">
                <input type="submit" value="Deletar carrinho" name="" class="btn-delete"
                    onclick="return confirm('Quer mesmo excluir o carrinho?');">
            </form>
            deixei comentado dps vê isso-->

            <a href="/finalizar" class="btn">Comprar</a>
        </div>

    </section>
    <br><br><br><br>

    <!-- FOOTER -->

    <section class="footer" id="footer">

        <div class="box-container">

            <div class="box">
                <h3>Contatar<i class="fas fa-shopping-basket"></i></h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique, amet.</p>
                <!-- <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div -->
            </div>

            <div class="box">
                <h3>Informações de contato</h3>
                <a href="#" class="links"><i class="fas fa-phone"></i>(99) 99999-0000</a>
                <a href="#" class="links"><i class="fas fa-phone"></i>(88) 88888-0000</a>
                <a href="#" class="links"><i class="fas fa-envelope"></i>empresa@qualquer.com</a>
                <a href="#" class="links"><i class="fas fa-map-marker-alt"></i>São Paulo,
                    Brasil</a>
            </div>

            <div class="box">
                <h3>Links Rapidos</h3>
                <a href="/home" class="links"><i class="fas fa-arow-right"></i>Início</a>
                <a href="/home#mercados" class="links"><i class="fas fa-arow-right"></i>Mercados</a>
                <!-- <a href="#" class="links"><i class="fas fa-arow-right"></i>blogs</a> -->
            </div>

            <!-- <div class="box">
                <h3>Boletim de Notícias</h3>
                <p>Enviar E-mail</p>
                <input type="email" placeholder="Digite seu email" class="email">
                <input type="submit" value="Enviar" class="btn">
                <img src="https://i.im.ge/2023/05/21/hXNHuD.UI-Elements-19-512.th.png" class="payment-img" alt="">
            </div> -->
        </div>

        <div class="creditos">Criado por<span> G. N. P. S.</span> | Desenvolvimento de TCC</div>
    </section>

    <script src="/js/https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="/js/scriptCar.js"></script>

</body>
</html>
