

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>                        
    <link rel="stylesheet" href="Padrao.css">
</head>


<body>
            
    <!-- <form action="Login.html" method="get"> -->



    <div class="container">
        <div class="card">

        <!-- <fieldset> -->
            <!-- <b> -->
                <!-- <legend><h3>Login</h3></legend> -->

                <h3>Login</h3>
                <form th:action="@{cliente/login}" method="POST">
                <div  class="inputBox">
                    <input type="text" required="email">
                    <span>Email</span>
                </div>


                <div  class="inputBox">
                    <input type="password" required="senha">
                    <span>Senha</span>
                </div>



            <!-- <p>Email <br><input type="text" name="email"/></p> -->
            <!-- <p>Senha <br><input type="password" name="senha"/></p> -->
        
            
            <button type="submit">Entrar</button>
            <a th:href="@{/cliente/cadastro}"><button type="submit"><b>Cadastro</b></button></a>
            </form>
            <!-- </b> -->
        <!-- </fieldset> -->

        </div>
    </div>

    <!-- </form> -->
</body>
</html>