<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/Perfil.css">
</head>

<body>
    <section class="seccion-perfil-usuario">

        <div class="perfil-usuario-header">

            <div class="perfil-usuario-pagina">

                <div class="perfil-usuario-avatar">
                    <img src="https://i.im.ge/2023/06/16/iNw1J0.user.jpg" alt="imgP">
                </div>

                <form>
                    <input class="btn-voltar" type="button" style="margin-left: auto; margin-top: 1em; display: block; width: 1; height: 1;" value="<" onclick="history.go(-1)">
                </form>

            </div>

        </div>

        <div class="perfil-usuario-body" th:object="${cliente}">

            <div class="perfil-usuario-bio">
                <h3 class="titulo" th:text="*{nome}">Username</h3>
                <p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="perfil-usuario-footer">

                <h3 class="titulo" style="text-align: center;border: 1px;">Informações do Usuário</h3>

                <ul class="lista-dados" style="width: 100%; border: 1px; align-items: center;">
                    <form th:action="@{/perfil}" method="post">
                        <li><i class="icon fas fa-user-alt"> Username</i><input th:field="*{nome}"></input></li>
                        <li><i class="icon fas fa-building icon fas fa-share-alt"> E-mail</i><input th:field="*{email}"></input></li>
                        <li><i class="icon fas fa-map-marker-alt"> Endereço</i><input th:field="*{endereco}"></input></li>
                        <button type="submit" class="btn"
                 style="margin-right: auto; margin-top: 1em; display: block; margin-bottom: 1em; width: 1; height: 1;"><i class="fas fa-edit"></i>
                </button>
                    </form>
                </ul>
                <a href="/logout2">
                    <button class="btn" type="button" value="Sair">Sair</button>
                </a>

            </div>
        </div>

    </section>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="/js/script.js"></script>

</body>

</html>