<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" box="IE=edge">
    <meta name="viewport" box="width=device-width, initial-scale=1.0">
<!--     <link rel="stylesheet" href="Cadastro.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Prototipo</title>
    <link rel="stylesheet" href="/css/Cadastro.css">

</head>
<body>

<section class="cadastro" id="cadastro">

  <form>
  <input class="btn-voltar" type="button" value="<" onclick="history.go(-1)">
  </form>
  
  <h1 class="heading">Tela de <span>Cadastro</span></h1>
       
  <form class="form" th:action="@{/cliente/cadastro}" method="post" th:object="${cliente}">

    <div class="box">
          <label for="email">E-mail</label>
          <input type="email" class="form-control" name="email" th:field="*{email}" placeholder="Digite seu e-mail">
          <div id="email-error" class="invalid-feedback">Por favor, insira um e-mail válido.</div>
    </div>
    <br>

    <div class="box">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="nome" th:field="*{nome}" placeholder="Digite seu username">
          <div id="username-error" class="invalid-feedback">Por favor, insira um username válido.</div>
    </div>
    <br>

    <div class="box">
          <label for="password">Senha</label>
          <input type="password" class="form-control" name="senha" th:field="*{senha}"placeholder="Digite sua senha">
          <div id="password-error" class="invalid-feedback">Por favor, insira uma senha válida.</div>
    </div>
    <br>

    <div class="box">
          <label for="birthday" >Data de Nascimento</label>
          <input type="date" class="form-control" name="aniver" th:field="*{aniver}">
         <div id="birthday-error" class="invalid-feedback">Por favor, insira uma data de nascimento válida.</div>
    </div>
    <br>
    

    <div class="box">
          <label for="cep">CEP</label>
          <input type="text" class="form-control" id="cep" name="endereco" th:field="*{endereco}" placeholder="Digite seu CEP">
          <div id="cep-error" class="invalid-feedback">Por favor, insira um CEP válido.</div>
    </div>
    <br>

    <div id="error-message" class="text-center"></div>
          
    <button type="submit" class= "btn">Cadastrar</button>
    <div class="text-center">
	 <p class="links">Já tem uma conta? <a href="/login">Entre aqui</a></p>
    </div>



  </form>


</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="/js/scriptCadas.js"></script>
  
</body>
</html>