<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RegistroUser</title>
    <link rel="stylesheet" href="/Padrao.css">
</head>
<body>
    <form th:action="@{/cliente/cadastro}" method="post" class="container" th:object="${cliente}">
         <div class="container">
             <div class="card">
                    
        
                 <h3>Cadastro Usuario</h3>

                    <div  class="inputBox">
                        <input type="text" name="nome" th:field="*{nome}">
                        <span>Nome</span>
                     </div>

                     <div  class="inputBox">
                            <input type="text" name="endereco" th:field="*{endereco}">
                            <span>Endereço</span>
                         </div>
                        
                         <div  class="inputBox">
                                <input type="text" required="email" name="email" th:field="*{email}">
                                <span>Email</span>
                           </div>

                         <div  class="inputBox">
                                    <input type="password" required="senha" name="senha" th:field="*{senha}">
                                    <span>Senha</span>
                       </div>

                       <div  class="inputBox">
                            <input type="password" required="csenha">
                            <span>CSenha</span>
                         </div>

                         <div  class="inputBox">
                                <input type="date" name="aniver" th:field="*{aniver}">
                                <span> Data de nascimento</span>
                             </div>


                <button type="submit">Enviar</button>
        
            </div>
         </div>        


    </form>
</body>
</html>