<!DOCTYPE html>
<html>
<head>
<title>Pet</title>
<meta charset="utf-8">
</head>
<body>
<h1>Novo pet</h1>

            <form action="/pet" method="post">
			<span for="id">ID:</span>
			<input type="text" name="id"> <br>
			
			<span for="nome">Nome:</span>
			<input type="text" name="nome"> <br>
			
			<span for="descricao">Raça:</span>
			<input type="text" name="raca"> <br>
			
			<span for="preco">Idade:</span>
			<input type="text" name="idade"> <br>
			
			<input type="submit" value="Enviar">
			</form>
</body>
</html>