<!DOCTYPE html>
<html>
<head>
    <title>Lista de produtos</title>
</head>
<body>
    <h1>Lista de produtos</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="produto : ${produtos}">
                <td th:text="${produto.nome}"></td>
                <td th:text="${produto.preco}"></td>
                <td>
        			<a th:href="@{/produto/editar/{id}(id=${produto.id})}" class="btn btn-primary btn-sm">Editar</a>
    			</td>
    			<td>
        			<a th:href="@{/produto/excluir/{id}(id=${produto.id})}" class="btn btn-danger btn-sm">Excluir</a>
    			</td>
            </tr>
        </tbody>
    </table>
</body>
</html>