<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CadastroMercado</title>
    <link rel="stylesheet" href="Padrao.css">
</head>
<body>
    <form action="LoginMercado.html" method="get" class="container">
        <div class="card">
            <div class="inputBox">
                <b>
                <h3>Cadastro Mercado</h3>
                <br>

                <div  class="inputBox">
                <p>Nome do mercado <br><input type="text" name="NomeM"/></p><br>
                <p>Endereço <br><input type="text" name="endereco"/></p><br>
                <p>Email <br><input type="text" name="email"/></p><br>
                <p>Senha <br><input type="password" name="senha"/></p><br>
                <p>CSenha <br><input type="password" name="csenha"/></p><br>
                <p>Tipo de comercio <br><input type="text" name="tipo"/></p><br>

                <button type="submit">Enviar</button>

                </b>
            </div>
        </div>
    </form>
</body>
</html>