<!DOCTYPE htm>
<html>
	<head>
		<title>Pet Formulário</title>
		<meta charset="utf-8">
	</head>
	<body>
		<h1>Novo Produto</h1>
	
		<form action="/pet" method="post">
			<span for="id">ID:</span>
			<input type="text" name="id"> <br>
			
			<span for="nome">Nome:</span>
			<input type="text" name="nome"> <br>
			
			<span for="raca">Raca:</span>
			<input type="text" name="raca"> <br>
			
			<span for="idade">Idade:</span>
			<input type="text" name="idade"> <br>
			
			<input type="submit" value="Enviar">
		</form>
	</body>
</html>

