<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Padrao.css">
    <title>Prototipo_Menu</title>
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="/">Nome do site</a>

            <div class="mobile-menu">
            </div class="line1"></div>
             </div  class="line2"></div>  
             </div class="line3"></div>  
            </div>


            <ul class="nav-list">
                <li><a href="">Inicio</a></li>
                <li><a href="">Sobre</a></li>
                <li><a href="">Login</a></li>
                <li><a href="">Cadastro</a></li>

                <script src="Padrao.js"></script>

                <!-- <p><b>Endereço</b><br> <input type="text" name="endereco" /></p>

                <div  class="inputBox">
                    <input type="password" required="senha">
                    <span>Senha</span>
                </div> -->

            </ul>
        </nav>
    </header>

    <main>
        aa
    </main>
</body>
</html>