<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sessão dos Minimercados</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!--    //////// -->
    <link rel="stylesheet" href="/css/Padrao.css">
    <link rel="stylesheet" href="/css/Merc.css">
</head>

<body>

    <header>
        <a href="#" class="logo" onclick="history.go(0)"><i class="fas fa-shopping-basket"></i>Mercados
            Regionais<span></span></a>

        <nav class="navbar">
            <a href="#menu">Início</a>
            <a href="#categ">Categorias</a>
            <a href="##mercados">Mercados</a>
            <a href="#sobre">Sobre</a>
            <a href="#footer">Contato</a>
        </nav>

        <!--icons topo do site-->
        <div class="icons">
            <div class="fas fa-bars" id="menu-btn"></div>

            <a href="/carrinho">
                <div class="fas fa-shopping-cart" id="cart-btn"></div>
            </a>

            <a th:href="@{/perfil/{username}(username=${username})}">
                <div class="fas fa-user" id="login-btn"></div>
            </a>

        </div>

    </header><br><br><br><br>

    <section class="menu" id="menu">
        <div class="content">
            <h3>Gestão de Minimercado</h3>
            <span>Encontre os melhores mercados perto da sua casa!</span>
            <p></p>
        </div>
    </section>

    <!-- Categorias -->

    <section class="categ" id="categ">

        <div class="box-container">

            <h1 class="heading">Diversas <span>Categorias</span></h1><br>

            <!-- Mercearias -->
            <h1 class="mercearias"><span>Mercearias</span></h1>
            <section class="mercados" id="mercados">
                <div class="box-container">

                    <div class="box">
                        <img src="https://i.im.ge/2023/05/21/hXwl9F.Food-256-256.th.png" alt="">
                        <h3>TodaTarde</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>
                        <a href="/mercado/m1" class="btn">Saiba mais</a>
                    </div>

                    <div class="box">
                        <img src="https://i.im.ge/2023/05/21/hXwl9F.Food-256-256.th.png" alt="">
                        <h3>TodaTarde</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>

                        <a href="/mercado/m1" class="btn">Saiba mais</a>
                    </div>

                    <div class="box">
                        <img src="https://i.im.ge/2023/05/21/hXwl9F.Food-256-256.th.png" alt="">
                        <h3>TodaTarde</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>

                        <a href="/mercado/m1" class="btn">Saiba mais</a>
                    </div>

                    <div class="box">
                        <img src="https://i.im.ge/2023/05/21/hXwl9F.Food-256-256.th.png" alt="">
                        <h3>TodaTarde</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>
                        <a href="/mercado/m1" class="btn">Saiba mais</a>
                    </div>
                </div>
            </section><br><br><br>

            <!-- Quitandas -->
            <h1 class="quitandas"><span>Quitandas</span></h1>
            <section class="mercados" id="mercados">
                <div class="box-container">

                    <div class="box">
                        <img src="https://i.im.ge/2023/05/21/hXwl9F.Food-256-256.th.png" alt="">
                        <h3>TodaTarde</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>
                        <a href="/mercado/m1" class="btn">Saiba mais</a>
                    </div>

                    <div class="box">
                        <img src="https://i.im.ge/2023/05/21/hXwl9F.Food-256-256.th.png" alt="">
                        <h3>TodaTarde</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>

                        <a href="/mercado/m1" class="btn">Saiba mais</a>
                    </div>

                    <div class="box">
                        <img src="https://i.im.ge/2023/05/21/hXwl9F.Food-256-256.th.png" alt="">
                        <h3>TodaTarde</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>

                        <a href="/mercado/m1" class="btn">Saiba mais</a>
                    </div>

                    <div class="box">
                        <img src="https://i.im.ge/2023/05/21/hXwl9F.Food-256-256.th.png" alt="">
                        <h3>TodaTarde</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>
                        <a href="/mercado/m1" class="btn">Saiba mais</a>
                    </div>
                </div>
            </section><br><br><br>

            <!-- Restaurantes -->
            <h1 class="restaurantes"><span>Restaurantes</span></h1>
            <section class="mercados" id="mercados">
                <div class="box-container">

                    <div class="box">
                        <img src="https://i.im.ge/2023/05/21/hXwl9F.Food-256-256.th.png" alt="">
                        <h3>TodaTarde</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>
                        <a href="/mercado/m1" class="btn">Saiba mais</a>
                    </div>

                    <div class="box">
                        <img src="https://i.im.ge/2023/05/21/hXwl9F.Food-256-256.th.png" alt="">
                        <h3>TodaTarde</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>

                        <a href="/mercado/m1" class="btn">Saiba mais</a>
                    </div>

                    <div class="box">
                        <img src="https://i.im.ge/2023/05/21/hXwl9F.Food-256-256.th.png" alt="">
                        <h3>TodaTarde</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>

                        <a href="/mercado/m1" class="btn">Saiba mais</a>
                    </div>

                    <div class="box">
                        <img src="https://i.im.ge/2023/05/21/hXwl9F.Food-256-256.th.png" alt="">
                        <h3>TodaTarde</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>
                        <a href="/mercado/m1" class="btn">Saiba mais</a>
                    </div>
                </div>
            </section><br><br><br>

            <!-- Alternativos -->
            <h1 class="alternativos"><span>Alternativos</span></h1>
            <section class="mercados" id="mercados">
                <div class="box-container">

                    <div class="box">
                        <img src="https://i.im.ge/2023/05/21/hXwl9F.Food-256-256.th.png" alt="">
                        <h3>TodaTarde</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>
                        <a href="/mercado/m1" class="btn">Saiba mais</a>
                    </div>

                    <div class="box">
                        <img src="https://i.im.ge/2023/05/21/hXwl9F.Food-256-256.th.png" alt="">
                        <h3>TodaTarde</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>

                        <a href="/mercado/m1" class="btn">Saiba mais</a>
                    </div>

                    <div class="box">
                        <img src="https://i.im.ge/2023/05/21/hXwl9F.Food-256-256.th.png" alt="">
                        <h3>TodaTarde</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>

                        <a href="/mercado/m1" class="btn">Saiba mais</a>
                    </div>

                    <div class="box">
                        <img src="https://i.im.ge/2023/05/21/hXwl9F.Food-256-256.th.png" alt="">
                        <h3>TodaTarde</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>
                        <a href="/mercado/m1" class="btn">Saiba mais</a>
                    </div>
                </div>
            </section><br><br><br>

        </div>

    </section><br><br>

    <!-- MERCADOS -->

    <section class="mercados" id="#mercados">

        <h1 class="heading">Repositório com<span>TODOS</span></h1>

        <div class="box-container">

            <div class="box">
                <img src="https://i.im.ge/2023/05/21/hXwl9F.Food-256-256.th.png" alt="">
                <h3>TodaTarde</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>
                <a href="/mercado/m1" class="btn">Saiba mais</a>
            </div>

            <div class="box">
                <img src="https://i.im.ge/2023/05/21/hXwl9F.Food-256-256.th.png" alt="">
                <h3>TodaTarde</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>
                <a href="/mercado/m1" class="btn">Saiba mais</a>
            </div>

            <div class="box">
                <img src="https://i.im.ge/2023/05/21/hXwl9F.Food-256-256.th.png" alt="">
                <h3>TodaTarde</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>
                <a href="/mercado/m1" class="btn">Saiba mais</a>
            </div>

            <div class="box">
                <img src="https://i.im.ge/2023/05/21/hXwl9F.Food-256-256.th.png" alt="">
                <h3>TodaTarde</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>
                <a href="/mercado/m1" class="btn">Saiba mais</a>
            </div>

            <div class="box">
                <img src="https://i.im.ge/2023/05/21/hXwl9F.Food-256-256.th.png" alt="">
                <h3>Quitanda Deserto</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>

                <a href="/mercado/m1" class="btn">Saiba mais</a>
            </div>
            <div class="box">
                <img src="https://i.im.ge/2023/05/21/hXwl9F.Food-256-256.th.png" alt="">
                <h3>TodaTarde</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>
                <a href="/mercado/m1" class="btn">Saiba mais</a>
            </div>

            <div class="box">
                <img src="https://i.im.ge/2023/05/21/hXwl9F.Food-256-256.th.png" alt="">
                <h3>TodaTarde</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>
                <a href="/mercado/m1" class="btn">Saiba mais</a>
            </div>

            <div class="box">
                <img src="https://i.im.ge/2023/05/21/hXwl9F.Food-256-256.th.png" alt="">
                <h3>TodaTarde</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>
                <a href="/mercado/m1" class="btn">Saiba mais</a>
            </div>

            <div class="box">
                <img src="https://i.im.ge/2023/05/21/hXwl9F.Food-256-256.th.png" alt="">
                <h3>TodaTarde</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>
                <a href="/mercado/m1" class="btn">Saiba mais</a>
            </div>

            <div class="box">
                <img src="https://i.im.ge/2023/05/21/hXwl9F.Food-256-256.th.png" alt="">
                <h3>Quitanda Deserto</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>

                <a href="/mercado/m1" class="btn">Saiba mais</a>
            </div>

    </section><br><br>

    <!--SOBRE -->

    <section class="sobre" id="sobre">
        <h1 class="heading"><span>Sobre</span> o site</h1>
        <div class="row">
            <div class="video-container">
                <!-- "http://techslides.com/demos/sample-videos/small.mp4" -->
                <video src="storeeee_1.mp4" type="video" loop autoplay muted></video>
                <h3> Melhores recomendações para você</h3>
            </div>

            <div class="content">
                <h3>Qual o melhor para você?</h3>
                <p>Esse site foi feito para ser uma vitrine para aqueles mercados e comercios informais que querem
                    abramger um maior publico, atravres das platformas onlime. Adaptado tambem para o mobile em forma de
                    aplicativo, separamo por caegortias e atributos aqules com caracteristicas parecidas, asim é m,ais
                    facil identificar seus diferencoas e filtarr os cliente realmente interresados</p>
                <p> Cada "mercado" tem seu proprio espaço de monstruario onde compartilha suas inbnformações e
                    produtos, parea que voce- o clienet- se informe e caso se interrese compre o que quiser. </p>
            </div>
    </section><br>

    <!-- FOOTER -->

    <section class="footer" id="footer">

        <div class="box-container">

            <div class="box">
                <h3>Contatar<i class="fas fa-shopping-basket"></i></h3>
                <p>Caso queira entrar em contato para reportar algum erro, fazer perguntas ou mandar sujestões, sinta-se atento para os seguintes metodos de contato:</p>
            </div>

            <div class="box">
                <h3>Informações de contato</h3>
                <a href="#" class="links"><i class="fas fa-phone"></i>(99) 99999-0000</a>
                <a href="#" class="links"><i class="fas fa-phone"></i>(88) 88888-0000</a>
                <a href="#" class="links"><i class="fas fa-envelope"></i>gestaomini@gmerc.com</a>
                <a href="#" class="links"><i class="fas fa-map-marker-alt"></i>São Paulo,
                    Brasil</a>
            </div>

            <div class="box">
                <h3>Links Rapidos</h3>
                <a href="#menu" class="links"><i class="fa-solid fa-share"></i>Início</a>
                <a href="#categ" class="links"><i class="fa-solid fa-share"></i>Categorias</a>
                <a href="#mercados" class="links"><i class="fa-solid fa-share"></i>Mercados</a>
                <a href="#sobre" class="links"><i class="fa-solid fa-share"></i>Sobre</a>
            </div>

        </div>
        <div class="creditos">Criado por<span> G. N. P. S.</span> / Desenvolvimento de TCC</div>
    </section>

    <script src="/js/script.js"></script>
</body>

</html>